// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Pulls in /govuk-modules/govuk-elements-sass/_govuk-elements.scss
@import 'govuk-elements';

@import 'track-your-appeal';
@import 'hearing';
@import 'about-hearing';
@import 'email-notifications';
@import 'combined';
@import 'footer';

.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.debug-data {
  color: blue;
  font-style: italic;
}


.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  top: -999px;
  left: -999px;
}

.google-opt-out-link {
  margin-top: 50px;
}

.header-proposition {
  clear: both;
  .proposition-name {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    margin: 5px 15px 0 15px;
    font-size: 18px;
    line-height: 1.2;

    &:link,
    &:visited {
      color: white;
    }
  }
}

@media (min-width: 641px) {
  #global-header .header-proposition .proposition-name {
      font-size: 24px;
      line-height: 1.25;
  }
}

@media (min-width: 769px) {
  #global-header .header-proposition {
    width: 66.66%;
    float: left;
    clear: none;
  }

  #global-header.with-proposition .header-wrapper .header-global .header-logo {
    width: 33.33%;
  }

  #global-header.with-proposition .header-wrapper .header-global {
    float: left;
    width: 100%;
  }
}
