@import '_colours';

$ring-diameter: 32px;

@mixin ring {
  border-radius: 50%;
  border: 8px solid $grey-2;;
  width: 16px;
  height: 16px;
  z-index: 2;
}

@mixin v-leg {
  width: 8px;
  height: 50px;
  background-color: $grey-2;
  margin-left: 12px;
}

@mixin h-leg {
  height: 8px;
  margin-bottom: 12px;
  background-color: $grey-2;
}

@mixin v-foot {
  display: block;
  content: " ";
  background-color: $grey-2;
  width: 22px;
  height: 8px;
  position: absolute;
  top: 41px;
}

@mixin h-foot {
  display: block;
  content: " ";
  background-color: $grey-2;
  width: 8px;
  height: 22px;
  position: absolute;
  right: -4px;
  z-index: 2;
}

@mixin horizontal-progress-bar {
  @media screen and (min-width: 401px) {
    margin: 60px 15px 70px 15px;

    .appeal-received,
    .dwp-respond,
    .hearing-booked,
    .hearing-leg,
    .hearing {
      display: inline-block;
      position: relative;
      margin-right: -5px;
    }

    // Start and end rings
    .hearing,
    .appeal-received {
      .ring {
        @include ring;
        position: inherit;
        z-index: 1;
      }
      h5 {
        font-weight: bold;
        left: -10px;
        top: 39px;
      }
    }

    // Middle status legs and corresponding feet.
    .dwp-respond,
    .hearing-booked {
      .leg {
        @include h-leg;
      }
      .foot:after {
        @include h-foot;
      }
      h5 {
        right: -50px;
        top: 27px;
      }
    }

    // The last leg
    .hearing-leg {
      .leg {
        @include h-leg;
      }
    }

    // Divide the width of all three legs equally minus both rings diameters.
    .dwp-respond,
    .hearing-booked,
    .hearing-leg {
      width: calc((100% - (#{$ring-diameter} * 2)) / 3)
    }

    h5 {
      position: absolute;
      font-size: 16px;
    }
  }
}

@mixin vertical-progress-bar {
  @media screen and (max-width: 400px) {
    margin: 20px 0;

    .appeal-received,
    .dwp-respond,
    .hearing-booked,
    .hearing-leg,
    .hearing {
      position: relative;
      margin-top: -1px;
    }

    // Start and end rings
    .appeal-received,
    .hearing {
      .ring {
        position: inherit;
        @include ring;
      }
      h5 {
        font-weight: bold;
        top: 5px;
      }
    }

    // Middle status legs and corresponding feet.
    .dwp-respond,
    .hearing-booked {
      .leg {
        @include v-leg;
      }
      .foot:after {
        @include v-foot;
      }
      h5 {
        top: 36px;
      }
    }

    // The last leg
    .hearing-leg {
      .leg {
        @include v-leg;
      }
    }

    h5 {
      position: absolute;
      left: 50px;
    }
  }
}

@mixin active-progress-bar {
  .ring.active {
    border: 8px solid #009243;
  }
  .leg.active,
  .leg.foot.active:after {
    background-color: #009243;
  }
}

@mixin wrap-dwp-and-hearing-booked-text {
  .dwp-respond h5,
  .hearing-booked h5 {
    white-space: normal;
    text-align: center;
    width: 67px;
    right: -33px;
    top: 28px;
  }
}

@mixin wrap-progress-bar-text {
  @media (min-width: 640px) and (max-width: 800px) {
    @include wrap-dwp-and-hearing-booked-text;
  }
  @media (min-width: 401px) and (max-width: 520px) {
    @include wrap-dwp-and-hearing-booked-text;
  }
}
