
@mixin wrap-dwp-and-hearing-booked-text {
  .dwp-respond h4,
  .hearing-booked h4 {
    white-space: normal;
    text-align: center;
    width: 67px;
    right: -15px;
    top: 45px;
  }
}

@mixin wrap-progress-bar-text {
  @media (min-width: 640px) and (max-width: 800px) {
    @include wrap-dwp-and-hearing-booked-text;
  }
  @media (min-width: 401px) and (max-width: 520px) {
    @include wrap-dwp-and-hearing-booked-text;
  }
}
