@import 'mixins';
@import 'h-progress-bar';
@import 'v-progress-bar';

#content.track-your-appeal {

  .progress-bar {

    // Display a horizontal progress bar when on larger devices.
    @include h-progress-bar;

    // Display a vertical progress bar when on smaller devices.
    @include v-progress-bar;

    // Wrap the progress bar text depending what device you're on.
    @include wrap-progress-bar-text;
  }

  .events {
    background-color: #eef7ff;
    padding: 20px 20px;

    .heading-small {
      margin-top: 0;
      padding-bottom: 10px;
    }

    a {
      display: block;
      padding-bottom: 20px;
    }

    details {

      summary {
        span {
          margin-left: -5px;
        }
      }

      div {
        position: relative;
        padding-top: 15px;
        padding-bottom: 10px;
        a {
          display: block;
          padding-bottom: 15px;
        }
      }

      div:after {
        content: "";
        background: $grey-2;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 95%;
        height: 1px;
      }

      div:last-child {
        padding-bottom: 0;
      }

      div:last-child:after {
        display: none;
      }
    }
  }
}
