node_modules/*
govuk_modules/*
public/*
app/routes.js
app/assets/javascripts/sscs.js
app/assets/javascripts/jquery-1.12.2.js
app/assets/javascripts/details.polyfill.js
app/assets/javascripts/tya-analytics-tracker.js
app/core/ScreenReaderHelper.js
app/services/appealService.js
app/services/tokenService.js
app/middleware/evidence.js
test/unit/core/tyaNunjucks.test.js
test/e2e/page-objects/tya/screenReader.js
test/e2e/page-objects/tya/progressBar.js
test/e2e/page-objects/steps.js
test/coverage
lib/*
