{% extends "layout.html" %}

{% block page_title %}
{{ i18n.tab }}
{% endblock %}

{% block content %}

<main id="content" class="confirm-emails-stop" role="main">

    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/breadcrumbs.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">{{ i18n.title }}</h1>
            <a class="button" href="manage-email-notifications-stop">{{ i18n.confirm }}</a>
        </div>
    </div>

</main>

{% endblock %}
