{% from "components/formElements.html" import errorsFor, textField %}
{% extends "layout.html" %}

{% block page_title %}
{% if errors %}
    {{ i18n.notifications.email.addressChange.tabError }}
{% else %}
    {{ i18n.notifications.email.addressChange.tab }}
{% endif %}
{% endblock %}

{% block content %}

<main id="content" class="confirm-email-address-change" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">

        {% include "errors/summary.html" %}

        <div class="column-two-thirds">

          <form action="/manage-email-notifications/{{ mactoken }}/change" method="post">

              {% if fields.error %}
              <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                  <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                      {{ i18n.notifications.email.addressChange.errors.title }}
                  </h1>
                  <ul class="error-summary-list">
                      {% if fields.email.errorHeading %}
                      <li><a href="#email">{{ fields.email.errorHeading }}</a></li>
                      {% endif %}
                      {% if fields.confirmEmail.errorHeading %}
                      <li><a href="#confirmEmail">{{ fields.confirmEmail.errorHeading }}</a></li>
                      {% endif %}
                  </ul>

              </div>
              {% endif %}

                <div class="form-group">

                    <fieldset>

                        <legend class="visually-hidden">{{ i18n.notifications.email.addressChange.visuallyHidden }}</legend>

                        <h1 class="heading-large">{{ i18n.notifications.email.addressChange.title }}</h1>


                        {{ textField(
                            label = 'Enter your new email address',
                            field = fields.email,
                            name = 'email'
                        ) }}

                        {{ textField(
                            label = 'Enter your new email address again',
                            field = fields.confirmEmail,
                            name = 'confirmEmail'
                        ) }}

                    </fieldset>

                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="{{ i18n.notifications.email.addressChange.continue }}">
                </div>

                <a class="cancel" href="/manage-email-notifications/{{ mactoken }}">{{ i18n.notifications.email.addressChange.cancel }}</a>

            </form>

        </div>

    </div>

</main>

{% endblock %}
