{% from "components/formElements.html" import errorsFor, textField %}
{% extends "layout.html" %}

{% block page_title %}
{% if errors %}
    {{ i18n.tabError }}
{% else %}
    {{ i18n.tab }}
{% endif %}
{% endblock %}

{% block content %}

<main id="content" class="confirm-email-address-change" role="main">

    {% include "includes/phase_banner_beta.html" %}
    {% include "includes/breadcrumbs.html" %}

    <div class="grid-row">

        <div class="column-two-thirds">

            <form action="/manage-email-notifications-change" method="post">

                {% if errors %}
                <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                        {{ i18n.errors.title }}
                    </h1>
                    <ul class="error-summary-list">
                        {% if errors.email %}
                        <li><a href="#email">{{ errors.email.message }}</a></li>
                        {% endif %}
                        {% if errors.email2 %}
                        <li><a href="#email2">{{ errors.email2.message }}</a></li>
                        {% endif %}
                    </ul>

                </div>
                {% endif %}

                <div class="form-group">

                    <fieldset>

                        <legend class="visually-hidden">{{ i18n.visuallyHidden }}</legend>

                        <h1 class="heading-large">{{ i18n.title }}</h1>

                        {{ textField(
                            name = 'email',
                            label = 'Enter your new email address',
                            error = errors.email
                        ) }}

                        {{ textField(
                            name = 'email2',
                            label = 'Enter your new email address again',
                            error = errors.email2
                        ) }}

                    </fieldset>

                </div>

                <div class="form-group">
                    <input type="submit" class="button" value="{{ i18n.continue }}">
                </div>

            </form>

        </div>

    </div>

</main>

{% endblock %}
