{% extends "layout.html" %}

{% block page_title %}
{{ i18n.tab }}
{% endblock %}

{% block content %}

<main id="content" class="confirm-emails-stop" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">{{ i18n.title }}</h1>
            <p>{{ i18n.content }}</p>
            <p>{{ i18n.linkPre }} <a href="/progress/{{data.appealNumber}}/trackyourappeal">{{ i18n.linkPost }}</a></p>
        </div>
    </div>

</main>

{% endblock %}
