{% extends "layout.html" %}

{% block page_title %}
Hearing Details
{% endblock %}

{% block content %}

<main id="content" class="hearing" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">{{ i18n.hearingDetails.checkDetails }}</h1>
            <div class="details">
                <h2 class="heading-medium">{{ data.name }}</h2>
                <h2 class="form-hint">{{ i18n.common.appealReferenceNumber }}: {{ data.caseReference }}</h2>
            </div>
            <div class="divider"></div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="hearing-details">

                <dl class="date-time">
                    <dt>{{ i18n.common.date }}</dt>
                    <dd>{{ data.hearing.placeholder.date | formatDate }}</dd>
                </dl>

                <dl class="date-time">
                    <dt>{{ i18n.common.time }}</dt>
                    <dd>{{ data.hearing.placeholder.date | formatTime }}
                        <span> ({{ i18n.hearingDetails.arriveEarly }})</span>
                    </dd>
                </dl>

                <dl class="address">
                    <dt>{{ i18n.hearingDetails.location }}</dt>
                    {% if data.hearing.address.lines.length %}
                    <dd>
                        {% for addressLine in data.hearing.address.lines %}
                        <span>{{ addressLine }}</span>
                        {% endfor %}
                        <span>{{ data.hearing.address.postcode }}</span>
                    </dd>
                    {% else %}
                    <dd>-</dd>
                    {% endif %}
                </dl>

            </div>

            <div class="panel panel-border-wide">
                <h3><strong class="bold-small">{{ i18n.hearingDetails.incorrect }}</strong></h3>
            </div>

            <h3 class="heading-small">{{ i18n.hearingDetails.pleaseNote.heading }}</h3>
            {% for content in i18n.hearingDetails.pleaseNote.content %}
            <p>{{content}}</p>
            {% endfor %}

            <p class="about-hearing">
                <a href="/progress/{{data.id}}/abouthearing">{{ i18n.hearing.expectations.link }}</a>
            </p>

            <div class="updates-border"></div>

            <h4 class="heading-small">{{ i18n.common.aboutYourAppeal }}</h4>
            <ul class="list">
                <li><a href="/progress/{{data.id}}/expenses">{{ i18n.claimExpenses.link }}</a></li>
                <li><a href="/progress/{{data.id}}/evidence">{{ i18n.evidence.provide.title }}</a></li>
                <li><a href="/progress/{{data.id}}/trackyourappeal">{{ i18n.common.trackYourAppeal }}</a></li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}
