{% extends "layout.html" %}

{% block page_title %}
Hearing Details
{% endblock %}

{% block content %}

<main id="content" class="hearing" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">{{ i18n.hearingDetails.checkDetails }}</h1>
            <div class="details">
                <h2 class="heading-medium">{{ appeal.name }}</h2>
                <h2 class="form-hint">{{ i18n.common.appealReferenceNumber }}: {{ appeal.caseReference }}</h2>
            </div>
            <div class="divider"></div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="hearing-details">

                <dl class="date-time">
                    <dt>{{ i18n.common.date }}</dt>
                    <dd>{{ event.hearingDateTime | formatDate }}</dd>
                </dl>

                <dl class="date-time">
                    <dt>{{ i18n.common.time }}</dt>
                    <dd>
                        <span><span class="time">{{ event.hearingDateTime | formatTime }}</span> ({{ i18n.hearingDetails.arriveEarly }})</span>
                    </dd>
                </dl>

                <dl class="address">
                    <dt>{{ i18n.hearingDetails.location }}</dt>
                    <dd>
                        {% for addressLine in event.hearingAddress.lines  %}
                        <span>{{ addressLine }}</span>
                        {% endfor %}
                        <a class='link' id="googleMapLocation" name="googleMapLocation" href="{{event.googleMapUrl}}">
                            {{ i18n.hearingDetails.mapsAndDirections }}
                        </a>
                    </dd>
                </dl>

            </div>

            <div class="panel panel-border-wide">
                <h3><strong class="bold-small">{{ i18n.hearingDetails.incorrect }}</strong></h3>
            </div>

            <h3 class="heading-small">{{ i18n.hearingDetails.pleaseNote.heading }}</h3>
            {% for content in i18n.hearingDetails.pleaseNote.content %}
            <p>{{content}}</p>
            {% endfor %}

            <p class="about-hearing">
                <a href="/abouthearing/{{appeal.appealNumber}}">{{ i18n.hearing.expectations.link }}</a>
            </p>

            <div class="updates-border"></div>

            <h4 class="heading-small">{{ i18n.common.aboutYourAppeal }}</h4>
            <ul class="links">
                <li><a href="/progress/{{appeal.appealNumber}}/expenses">{{ i18n.claimExpenses.link }}</a></li>
                <li><a href="/evidence/{{appeal.appealNumber}}">{{ i18n.evidence.provide.title }}</a></li>
                <li><a href="/trackyourappeal/{{appeal.appealNumber}}">{{ i18n.common.trackYourAppeal }}</a></li>
                <li><a href="/progress/{{appeal.appealNumber}}/contactus">{{ i18n.contactUs.title }}</a></li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}
