{% extends "govuk_template.html" %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block inside_header %}
    <div class="header-proposition">
        <a href="/" class="proposition-name">Appeal a benefit decision</a>
    </div>
{% endblock %}

{% block cookie_message %}
<p>{{cookieText | safe }}
    <a href="/cookiepolicy">{{cookieLink | safe }}</a>
</p>
{% endblock %}

{% block header_class %}
with-proposition
{% endblock %}


{% block footer_support_links %}
    <ul>
    <li><a href="{{contactUsLink}}">{{contactUs}}</a></li>
    {% if data.appealNumber %}
    <li><a href="/terms-and-conditions/{{ data.appealNumber }}">{{ termsAndConditions }}</a></li>
    {% endif %}
    <li><a href="/cookiepolicy">{{cookies}}</a></li>
    {% if data.appealNumber %}
    <li><a href="/privacy-policy/{{ data.appealNumber }}">{{ privacyPolicy }}</a></li>
    {% endif %}
    </ul>
{% endblock %}



{% block body_end %}
{% include "includes/scripts.html" %}
{% endblock %}
