{% extends "layout.html" %}

{% block page_title %}
Track your Appeal
{% endblock %}

{% block content %}

<main id="content" class="track-your-appeal" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Your {{ data.benefitType.toUpperCase() }} benefit appeal</h1>

            <div class="details">
                <h2 class="heading-medium">{{ data.name }}</h2>
                <h2 class="form-hint">{{ i18n.common.appealReferenceNumber }}: {{ data.caseReference }}</h2>
            </div>

            <div class="divider"></div>

            {% if data.showProgressBar %}
            <section class="progress-bar">

                <div class="appeal-received {{ data.status|isActive('APPEAL_RECEIVED') }}">
                    <div class="ring">
                        <img class="tick" src="/public/images/tick.png" alt="ignored by screen readers" aria-hidden="true">
                    </div>
                    <h4 class="{{ data.status|isCurrent('APPEAL_RECEIVED') }}" aria-hidden="true">{{ i18n.progressBar.appeal }}</h4>
                    <span class="screen-reader-text">{{ data.status|getScreenReaderTextFor('APPEAL_RECEIVED') }}</span>
                </div>

                <div class="dwp-respond {{ data.status|isActive('DWP_RESPOND') }}">
                    <div class="leg"></div>
                    <div class="ring">
                        <img class="tick" src="/public/images/tick.png" alt="ignored by screen readers" aria-hidden="true">
                    </div>
                    <h4 class="{{ data.status|isCurrent('DWP_RESPOND') }}" aria-hidden="true">{{ i18n.progressBar.dwpRespond }}</h4>
                    <span class="screen-reader-text">{{ data.status|getScreenReaderTextFor('DWP_RESPOND') }}</span>
                </div>

                <div class="hearing-booked {{ data.status|isActive('HEARING_BOOKED') }}">
                    <div class="leg"></div>
                    <div class="ring">
                        <img class="tick" src="/public/images/tick.png" alt="ignored by screen readers" aria-hidden="true">
                    </div>
                    <h4 class="{{ data.status|isCurrent('HEARING_BOOKED') }}" aria-hidden="true">{{ i18n.progressBar.hearingBooked }}</h4>
                    <span class="screen-reader-text">{{ data.status|getScreenReaderTextFor('HEARING_BOOKED') }}</span>
                </div>

                <div class="hearing {{ data.status|isActive('HEARING') }}">
                    <div class="leg"></div>
                    <div class="ring">
                        <img class="tick" src="/public/images/tick.png" alt="ignored by screen readers" aria-hidden="true">
                    </div>
                    <h4 class="{{ data.status|isCurrent('HEARING') }}" aria-hidden="true">{{ i18n.progressBar.hearing }}</h4>
                    <span class="screen-reader-text">{{ data.status|getScreenReaderTextFor('HEARING') }}</span>
                </div>

            </section>
            {% endif %}

            <div class="events">

                <h2 class="heading-small">{{ i18n.common.latestUpdate }}</h2>
                {% for latestEvent in data.latestEvents | reverse %}
                    {% for content in latestEvent.renderedContent %}
                    <p>{{ content }}</p>
                    {% endfor %}
                {% endfor %}

                {% if data.status == 'HEARING_BOOKED' %}
                <a href="/progress/{{data.appealNumber}}/hearingdetails">{{ i18n.hearingDetails.checkDetails }}</a>
                {% endif %}

                {% if data.historicalEvents.length %}
                <details>

                    <summary>
                        <span class="summary">View previous updates</span>
                    </summary>

                    {% for historicalEvent in data.historicalEvents %}
                    <div>
                        <h3 class="bold-small">
                            {{ historicalEvent.heading }}
                            <span class="form-hint">{{ historicalEvent.date | formatDate }}</span>
                        </h3>

                        {% for content in historicalEvent.renderedContent %}
                        <p>{{ content }}</p>
                        {% endfor %}

                        {% if historicalEvent.contentKey === 'status.hearingBooked' %}
                        <a href="/progress/{{data.appealNumber}}/hearingdetails/{{loop.index0}}">{{ i18n.hearingDetails.checkDetails }}</a>
                        {% endif %}
                    </div>
                    {% endfor %}

                </details>
                {% endif %}

            </div>

            {% if data.showEvidenceReminder %}
            <div class="panel panel-border-wide">
                <p>{{ i18n.evidence.received if data.evidenceReceived else i18n.evidence.notReceived }}<br/>
                    <a href="/evidence/{{data.appealNumber}}">{{ i18n.evidence.provide.title }}</a>
                </p>
            </div>
            {% endif %}

            <div class="updates-border"></div>

            <h3 class="heading-small">{{ i18n.common.aboutYourAppeal }}</h3>
            <ul class="links">
                <li><a href="/abouthearing/{{data.appealNumber}}">{{ i18n.hearing.expectations.title }}</a></li>
                <li><a href="/expenses/{{data.appealNumber}}">{{ i18n.claimExpenses.link }}</a></li>
                <li><a href="/evidence/{{data.appealNumber}}">{{ i18n.evidence.provide.title }}</a></li>
                <li><a href="/progress/{{data.appealNumber}}/contactus">{{ i18n.contactUs.title }}</a></li>
            </ul>

        </div>

    </div>

</main>

{% endblock %}
