{% extends "layout.html" %}

{% block page_title %}
Track your Appeal
{% endblock %}

{% block content %}

<main id="content" class="track-your-appeal" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Your ESA benefit appeal</h1>

            <div class="details">
                <h2 class="heading-medium">{{ data.name }}</h2>
                <h2 class="form-hint">{{ i18n.common.appealReferenceNumber }}: {{ data.caseReference }}</h2>
            </div>

            <div class="divider"></div>

            <section role="region" class="progress-container">

                <h2 class="screen-reader-text">{{ i18n.progressBar.screenReader.heading }}</h2>

                <div class="ring active">
                    <p class="appeal-received">
                        <span aria-hidden="true">{{ i18n.progressBar.appeal }}</span>
                        {% if data.status == 'APPEAL_RECEIVED' %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.appeal.happening }}</span>
                        {% else %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.appeal.happened }}</span>
                        {% endif %}
                    </p>
                </div>

                <div class="leg foot {{ isActive('DWP_RESPOND', data.status ) }}">
                    <p class="dwp-respond">
                        <span aria-hidden="true">{{ i18n.progressBar.dwpRespond }}</span>
                        {% if data.status == 'APPEAL_RECEIVED' %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.dwpRespond.due }}</span>
                        {% elif data.status == 'DWP_RESPOND' %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.dwpRespond.happening }}</span>
                        {% else %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.dwpRespond.happened }}</span>
                        {% endif %}
                    </p>
                </div>

                <div class="leg foot {{ isActive('HEARING_BOOKED', data.status ) }}">
                    <p class="hearing-booked">
                        <span aria-hidden="true">{{ i18n.progressBar.hearingBooked }}</span>
                        {% if data.status == 'APPEAL_RECEIVED' or data.status == 'DWP_RESPOND' %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.hearingBooked.due }}</span>
                        {% elif data.status == 'HEARING_BOOKED' %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.hearingBooked.happening }}</span>
                        {% else %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.hearingBooked.happened }}</span>
                        {% endif %}
                    </p>
                </div>

                <div class="leg {{ isActive('HEARING', data.status ) }}"></div>
                <div class="ring {{ isActive('HEARING', data.status ) }}">
                    <p class="hearing">
                        <span aria-hidden="true">{{ i18n.progressBar.hearing }}</span>
                        {% if data.status != 'HEARING' %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.hearing.due }}</span>
                        {% else %}
                        <span class="screen-reader-text">{{ i18n.progressBar.screenReader.hearing.happening }}</span>
                        {% endif %}
                    </p>
                </div>

            </section>

            <div class="description">

                <h2 class="heading-small">{{ i18n.common.latestUpdate }}</h2>
                {% for content in data.events[0].renderedContent %}
                <p>{{ content }}</p>
                {% endfor %}

                {% if feature.SHOW_HEARING_DETAILS and (data.status == 'HEARING_BOOKED') %}
                <a href="/progress/{{data.id}}/hearingdetails">{{ i18n.hearingDetails.checkDetails }}</a>
                {% endif %}

                {% if data.events.length > 1 %}
                <p class="updates-toggle">
                    <i class="fa fa-caret-right" aria-label="View previous updates">
                        <span>{{ i18n.common.viewAllUpdates }}</span>
                    </i>
                </p>
                <div class="updates-container">
                    {% for index in range(1, data.events.length) %}
                    <div class="update">
                        <h3 class="bold-small">
                            {{ data.events[index].heading }}
                            <span class="form-hint">{{ data.events[index].date | formatDate }}</span>
                        </h3>
                        {% for content in data.events[index].renderedContent %}
                        <p>{{ content }}</p>
                        {% endfor %}

                        {% if feature.SHOW_HEARING_DETAILS and data.events[index].contentKey === 'status.hearingBooked' %}
                        <a href="/progress/{{data.id}}/hearingdetails">{{ i18n.hearingDetails.checkDetails }}</a>
                        {% endif %}

                    </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div>

            {% if data.status == 'DWP_RESPOND' or data.status == 'HEARING_BOOKED' %}
            <div class="panel panel-border-wide">
                <p>{{ i18n.evidence.receivedBy }}<br/>
                    <a href="/progress/{{data.id}}/evidence">{{ i18n.evidence.provide.title }}</a>
                </p>
            </div>
            {% endif %}

            <div class="updates-border"></div>

            <h3 class="heading-small">{{ i18n.common.aboutYourAppeal }}</h3>
            <ul class="links">
                <li><a href="/progress/{{data.id}}/abouthearing">{{ i18n.hearing.expectations.title }}</a></li>
                <li><a href="/progress/{{data.id}}/expenses">{{ i18n.claimExpenses.link }}</a></li>
                <li><a href="/progress/{{data.id}}/evidence">{{ i18n.evidence.provide.title }}</a></li>
            </ul>

        </div>

    </div>

    <!--<pre class="content">{{ data.events[index] | json }}</pre>-->

</main>

{% endblock %}
